<div class="copouncontainer">
    <div class="copoun_text">
        <p class="mainheadline">Get Extra 10% off </p>
        <p class="head_discrip">all orders above Rs.3000 </p>
    </div>
    <div class="copypaste" id="copyPastew">
        <p id="cpnCodeText" class="codetext">
       <b>SEELA30</b></p>
        <p id="cpnCode" class="taptocopy">Tap to copy</p>
    </div>
</div>
